html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-form {
    padding: 20px 40px;
    border: 2px solid #ddd;
}

.b-form__section{
    margin: 20px 0;
}

.b-form__label {
    user-select: none;
}
